.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

body {
    background-color: antiquewhite;
}

.more {
    border: none;
    color:brown;
    background: none;
    text-decoration: underline;
}

.btn, .btnAll {
    border: 2px solid #111111;
    background: none;
    border-radius: 30px;
    padding: 10px;
}

.btnAll {
    margin: 30px;
    width: 50%;
}